## .DS_Store
.DS_Store

## No Pods folder
Podfile.lock
Pods/

## No Carthage folder
Cartfile.resolved
Carthage/

## Userdata
clear_pock_environment
Pock.xcodeproj/xcuserdata/
Pock.xcworkspace/xcuserdata/

## Hide Secrets
Secrets.plist
Pock.xcworkspace/contents.xcworkspacedata
