## .DS_Store
.DS_Store

## No Pods folder
Podfile.lock
Pods/

## No Carthage folder
Cartfile.resolved
Carthage/

## Userdata
Pock.xcodeproj/xcuserdata/
Pock.xcworkspace/xcuserdata/

## Don't track Fabric
Fabric.framework
FabricEnv
